.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo{
    width: 350px;
    height: 100px;
}

.menu{
    width: 1150px;
}

ul{
    width: auto;
    list-style-type: none; /* retira o marcador da lista*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px 16px -33px;
}

.linha{
    text-decoration: none;
}